/**
 * Custom CSS declarations
 *
 * If your server is registered, you can create a file named `custom.css`
 * in the `config` directory and populate it with CSS rules to override the
 * normal client styles, when the client is connected to your server. In
 * other words, you can use this facility to introduce a custom theme for
 * your server.
 */

#header {
	background: url("http://www.netanimations.net/animated-water-moving-blue-flowing.gif")
	border: 2px solid #000;
}

body{
  background: url(http://fc09.deviantart.net/fs71/f/2013/229/5/c/sharpedo_by_ekomira-d6ijjqk.png);
  background-size: absolute;
  color: #01252F;
}

.message-announce {
background:#3300FF
}

.broadcast-blue {
background:#3300FF
}
 
.tabbar a.button {
background: #000000;
color: #FFFFFF;
}
 
.tabbar a.button.cur,.tabbar a.button.cur:hover {
color: #FFFFFF ;
background: #000000 ;
box-shadow: none;
border-color: #AAAAAA;
border-bottom: 0;
cursor: default;
padding-top: 3px;
padding-bottom: 5px;
top: 0px;
}

.mainmenuwrapper {
     background: #A8A8A8 url('http://fc09.deviantart.net/fs71/f/2013/229/5/c/sharpedo_by_ekomira-d6ijjqk.png') no-repeat;
}
 
 
.chat-log {
  font-size: 12px;
  /*background: #fff none scroll right bottom;*/
  background: #fff url("http://cdn.bulbagarden.net/upload/thumb/f/f4/342Crawdaunt.png/250px-342Crawdaunt.png") no-repeat scroll right bottom;

  background-repeat: repeat, no-repeat;
  color: #000;
  overflow: auto;
}
 
.menugroup .button:hover {
  color: #FFF;
  background: url("http://www.netanimations.net/animated-water-moving-blue-flowing.gif")
}
 
.menugroup .button {
  color: #FFF;
  background: #386AD7;
}
 
.menugroup button.big {
  color: #FFF;
  background: #386AD7;
  width: 230px;
  padding: 6px 7px 6px 7px;
  font-size: 14pt;
}
 
.ps-room.ps-room-light {
        color: black;
}
 
.chat-log-add {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        min-height: 36px;
        padding: 3px 4px 0px;
        border-top: 1px solid rgb(72, 61, 139);
}
 
.battle-log {
        position: absolute;
        text-align: left;
        border: 1px solid #686868;
        background: #C0C0C0;
        color: black;
        top: 9px;
        left: 640px;
        right: -1px;
        height: 360px;
        font-family: Verdana,sans-serif;
        font-size: 10pt;
        overflow: auto;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
}
 
.tabbar {
        bottom: 0;
}
 
.userbar {
        top: 18px;
}
 
.userbar .username {
        text-shadow: none;
        text-shadow: 1px 1px black;
}
 
.userbar:before {
        display: block;
        content:"";
        width:80px;
        height: 32px;
        float: right;
        position: relative;
        top: -9px;
}
 
.icon-user {
        display:none;
}
 
.maintabbarbottom {
        background: linear-gradient(to bottom, rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 100%);
        border: none;
        box-shadow: none;
        z-index:2;
}
 
.header {
        height: 56px;
        background: #161616;
}
 
.header .logo {
        float: left;
        margin: 7px 0px 0 2px;
}

/*Starbar / Hp bar */
.statbar
{
        position: absolute;
        display: none;
        width: 186px;
        background: url(http://i.imgur.com/rHmrSQN.png);
        background-repeat: no-repeat;
        background-position: 0px 1px;
        min-height: 40px;
        padding: 2px 4px 2px 26px;
}
 
.statbar .hpbar .hp
{
        height: 3px;
        border-top: 1px solid #007734;
        background: url(http://www.netanimations.net/animated-water-moving-blue-flowing.gif);
        border-bottom: 2px solid #007734;
        border-radius: 0px;
}
.statbar .hpbar .hp-yellow
{
        border-color: #000000;
}
.statbar .hpbar .hp-red
{
        border-color: #000000;
}
.statbar .hpbar .prevhp
{
        background: #27638E;
        height: 6px;
        border-radius: 0px;
}
.statbar .hpbar .prevhp-yellow
{
        background-color: #27638E;
}
.statbar .hpbar .prevhp-red
{
        background-color: #27638E;
}
.statbar .hpbar .hptext
{
        position: absolute;
        color: #257DBC;
        text-shadow: 1px 0 white, -1px 0 white, 0 1px white, 0 -1px white;
        font-size: 9px;
        width: 32px;
        height: 12px;
        top: -1px;
        text-align: center;
}

/* Battle Background */
.backdrop {
    background: url(http://www.he-manreviewed.com/wp-content/uploads/2012/10/31-5-Waterfall-Ride-Gif.gif) !important;
}
